<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="dependencyVersion" value="Highest" />
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Sitecore 8.2 feed" value="http://nuget1dk1:8181/nuget/8.2.x_master" />
    <add key="Sitecore Development feed" value="http://nuget1dk1:8181/nuget/Development" />
    <add key="Sitecore External feed" value="http://nuget1dk1:8181/nuget/External" />
  </packageSources>
</configuration>